requests==2.18.4
setuptools==39.1.0
pandoc==1.0.2
pypandoc==1.4
DBUtils==1.2
eth-hash==0.1.1
pyethash==0.1.27
eth-abi==1.0.0
eth-utils==1.0.3
rlp==0.6.0
ethereum==2.3.1
tornado==5.0.1
ecdsa==0.13
websocket-client==0.47.0
Unirest==1.1.7
lxml==4.2.4
py-ecc==1.4.3
PyMySQL==0.8.0
#MySQL-python==1.2.5
